@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* border: "1px solid black"; */
  height: 100vh;
}

@layer components {
  .link-navbar {
    position: relative;
    display: inline-block;
    margin: "0 5% 0 5%";
  }
  .link-navbar:hover {
    color: #ff8f9c;
    transition: all 0.4s;
  }
  .link-navbar::after {
    position: absolute;
    content: "";
    background-color: #ff8f9c;
    height: 3px;
    width: 100%;
    bottom: -5px;
    left: 0;
    scale: 0;
    transform-origin: left;
    transition: all 0.4s;
  }
  .link-navbar:hover::after {
    scale: 1;
  }
}
